
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Chernobyl BarberShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CitasChernobyl.styles.css" asp-append-version="true" />
</head>
<body>
       <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Index"><img src="../image/logo1.png" class="img-fluid logo" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                      
                        <li class="nav-item">
                            <a alingn="right" class="nav-link btnB" asp-area="" asp-controller="Acceso" asp-action="Index">Iniciar Sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
        <div class="container">
            <main role="main" class="pb-3">
    <div class="text-center">
        <img src="../image/titularIndex.png" class="img-fluid" style="width:300px ;" alt="">

    </div>
            </main>
        </div>
    <div class="container">
        <div class="row mt-5">
        <div class="col-sm-4 offset-sm-4">

            <form>
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" id="form3Example1" class="form-control"  placeholder="Nombre"/> 
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" id="form3Example2" class="form-control" placeholder="Apellido" />
                        </div>
                    </div>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" id="form3Example3" class="form-control"  placeholder="Email"/>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input type="password" id="form3Example4" class="form-control"  placeholder="Contraseña"/>
                </div>

                @* <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                    <label class="form-check-label" for="form2Example33">
                        Subscribete a nuestro Boletin
                    </label>
                </div> *@
                  <div class="row">
                    <div class="col-md-7 mx-auto">
                        <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4 mx-auto btnA">Crear Cuenta</button>
                    </div>
                </div>
                <!-- Submit button -->
                

             
            </form>


        </div>

         </div>  
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
     <script src="~/lib/gsap/gsap.min.js" asp-append-version="true"></script>

</body>
</html>
