@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
body {
  background: url(../image/bg1.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  background-color: transparent !important;
  border: 0 !important;
}

.logo:hover {
  -webkit-animation: glitchy 0.4s ease 0.4s infinite;
          animation: glitchy 0.4s ease 0.4s infinite;
}

.btnA {
  border-radius: 20px;
  padding: 0.4rem 2rem !important;
  background: rgb(157, 254, 0);
  background: linear-gradient(35deg, rgb(157, 254, 0) 0%, rgb(20, 217, 229) 100%);
  margin-right: 7px;
  font-weight: 800;
  border: none;
  color: #191D29 !important;
}
.btnA:hover {
  -webkit-animation: glitchy 0.3s ease 0.3s infinite;
          animation: glitchy 0.3s ease 0.3s infinite;
}

.btnB {
  border-radius: 20px;
  padding: 0.4rem 2rem !important;
  border: 1px solid;
  border-color: rgb(157, 254, 0);
  font-weight: 800;
  color: #fff !important;
}
.btnB:hover {
  -webkit-animation: glitchy 0.3s ease 0.3s infinite;
          animation: glitchy 0.3s ease 0.3s infinite;
}

.navbar-brand {
  width: 120px;
  padding: 1rem;
}

.boxTitular {
  position: relative;
}
.boxTitular .gota {
  position: absolute;
  left: -35px;
  -webkit-animation: springIn 2.3s ease-in-out infinite;
          animation: springIn 2.3s ease-in-out infinite;
}
.boxTitular .avatar {
  position: absolute;
  right: -35px;
  width: 240px;
  top: 40px;
  -webkit-animation: springIn 1.3s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
          animation: springIn 1.3s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

.boxContIntem {
  padding: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 20px;
}
.boxContIntem .boxItem {
  max-width: 50vw;
  position: relative;
  opacity: 0;
  top: 30px;
}
.boxContIntem .boxItem img {
  height: 20vw;
  position: relative;
  z-index: 2;
}
.boxContIntem .boxItemShape {
  position: absolute;
  width: 100%;
  height: 30vh;
  bottom: 0;
  border-radius: 22px;
  background: rgb(157, 254, 0);
  background: linear-gradient(35deg, rgb(157, 254, 0) 0%, rgb(20, 217, 229) 100%);
}

@-webkit-keyframes springIn {
  from, to {
    -webkit-transform: translateY(5vh);
            transform: translateY(5vh);
  }
  80% {
    -webkit-transform: translateY(2vh);
            transform: translateY(2vh);
  }
}

@keyframes springIn {
  from, to {
    -webkit-transform: translateY(5vh);
            transform: translateY(5vh);
  }
  80% {
    -webkit-transform: translateY(2vh);
            transform: translateY(2vh);
  }
}
@-webkit-keyframes glitchy {
  0% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  25% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  50% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  75% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
}
@keyframes glitchy {
  0% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  25% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  50% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  75% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
}
.navBarInner {
  background-color: #fff !important;
}

.innerBrand {
  position: relative;
}
.innerBrand img {
  width: 80px;
  position: absolute;
  left: -12px;
  top: -12px;
  background-color: #191D29;
  padding: 10px;
  border-radius: 0 0 12px 0;
}

.navList {
  width: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
}
.navList a {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
.navList .outBtn {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.contInner {
  color: #fff;
}

.colorWt {
  color: #fff;
}
.colorWt a {
  color: #9DFE00;
}

.footerInner {
  background-color: #191D29;
  border: 0px !important;
  text-align: center;
}
.footerInner a {
  color: #9DFE00;
}

h1, h3, h4, h5, h6, p {
  margin-bottom: 0;
}

ul {
  list-style: none;
}

.boxDashboard {
  color: #191D29;
}
.boxDashboard hr {
  background-color: #191D29;
  opacity: 0.1;
}
.boxDashboard .Green {
  color: #23DDCD;
}
.boxDashboard .actualTitle {
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: 0.5rem;
}
.boxDashboard .boxDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.boxDashboard .boxDate .day h1 {
  font-size: 6.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #9DFE00;
  margin-bottom: 0;
}
.boxDashboard .boxDate .year h2 {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.boxDashboard .boxDate .year h3 {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 8px;
}
.boxDashboard .tituloCard strong {
  color: #23DDCD;
}

.table tr {
  vertical-align: baseline;
}

.activo {
  color: #23DDCD;
}