
@{
    ViewData["Title"] = "Historial_Servicios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="boxDashboard p-4">

    @* fila 2 *@
    <div class="row justify-content-between  mt-3">

        <div class="col-md-12 d-flex align-items-stretch">
            <div class="card p-4 w-100">
                <h2 class="tituloCard">Historial
                    <strong>Servicios</strong>
                </h2>
                <hr>
                <div class="listProgram">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Hora</th>
                                <th scope="col">Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td><span><i class="bi bi-calendar3"></i> </span> Lunes 21 Febrero</td>
                                <td><span><i class="bi bi-alarm"></i></span> 10:00 a. m.</td>
                                <td> <span><i class="bi bi-hourglass-split"></i></span> Por confirmar</td>
                                
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    


    </div>
    @* fin fila 2 *@
</div>

